
  .container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(245, 240, 240, 0.52);
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper {
    width: 500px;
    height: 500px;
    background-color: white;
    padding: 10px 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: solid 1px black;
  }
  
  .close {
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
  }

  .title {
      padding: 20px;
      font-weight: 500;
      font-size: 30px;    
      justify-items: center;
      border-bottom: 1px solid black;
      color: rgb(0, 89, 255);
  }
  
  .img{
      border-radius: 50%;
  }

  .text {
      font-weight: 400;
      font-size: 20px;
      margin-left: 6px;
      align-items: center;
  }
  .input {
    border: none;
    outline: none;
  }

  .updateButton {
    width: 25%;
    border: none;
    background-color: rgb(0, 162, 255);
    color: white;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 0;
    align-self: flex-end;
  }

  .uploadButton {
    width: 25%;
    border: none;
    background-color: rgb(255, 0, 106);
    color: white;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 0;
    align-self: flex-end;   
    margin-top: -30px; 
  }